<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>API REST</title>
</head>
<body>

    <section class="cont">
        <h2 class="title">
            <a class="link" href="/api/productos">See all products</a>
        </h2>
    
        <form class="form" action="/api/productos" method="post">
            <h2  class="form__title">Add product:</h2>
            
            <label class="form__label" for="title">Title</label>
            <input class="form__input" type="text" name="title" placeholder="Title" id="">
    
            <label class="form__label" for="price">Price</label>
            <input class="form__input" type="number" name="price" placeholder="Price" id="">
    
            <label class="form__label" for="img">Image URL</label>
            <input class="form__input" type="text" name="img" placeholder="Image URL" id="">
    
            <input class="form__btn" type="submit" value="Save">
    
        </form>

        <% if(message) { %>
            <h3 class="alert"> <%= message %> </h3>
        <% } %>
    </section>
    
</body>
</html>