<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>API REST</title>
</head>
<body>
    <section class="product__nav">
        <a class="link product__link" href="/">Home</a>
        <h2 class="product__title">Products</h2>
    </section>
    <section class="product__cont">
        <% if(products.length > 0) { %>
            <% for(let p of products) { %>
                <div class="card__cont">
                    <img class="card__img" src="<%= p.img %>" alt="">
                    <h2 class="card__title"> <%= p.title %> </h2>
                    <h3 class="card__price"> $<%= p.price %> </h3>
                </div>
                
            <% } %>
        <% } else { %>
            <h2 class="empty__title"> No se encontraron productos </h2>
        <% } %>
        
    </section>
    
</body>
</html>